.group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .input {
    width: 450px;
    position: relative;
    height: 60px;
    margin: 10px;
    border-radius: 4px;
    border: none;
    outline: 2px solid #050505;
    transition: outline 200ms ease-out;
    padding-left: 10px;
    background-color: transparent;
    color: #080808;
    font-size: 20px;
  }
  
  .label {
    position: absolute;
    left: 0;
    margin-left: 20px;
    transition: all 150ms ease-out;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    font-size: 18px;
  }
  
  .input:hover + .label,
  .input:not(:placeholder-shown) + .label {
    transform: translateY(-40px);
   
  }
  
  .input:hover,
  .input:not(:placeholder-shown) {
    outline-color: #7648ffc7;
    transition: outline 200ms ease-in;
  }
  
  .group span {
    color: #7648ffc7;
    align-self: center;
    bottom: -15px;
    left: 10px;
    position: absolute;
  }