.reviewCardSlider {
  max-width: 860px;
  margin: 0 auto;
  padding: 20px;
}

.cardContent {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  height: 150px;
  box-sizing: border-box;
  margin-right: 10px; /* Ajusta el valor según tus preferencias */
}

.starsContainer {
  margin-bottom: 10px;
}

.starFilled {
  color: gold;
  font-size: 24px;
}

.slick-slider {
  width: 100%; /* Ajusta el ancho según sea necesario */
  box-sizing: border-box;
}

.slick-list {
  overflow: initial; /* Ajuste para evitar problemas de desbordamiento */
}
