.carousel-container {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; 
}


.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 18px; 
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}

.prev-button {
  left: 20px; 
}

.next-button {
  right: 20px;
}