.wishcard {
        width: 350px;
        height: 450px;
        box-shadow: 2px 2px 4px #bbb;
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        gap: 6px;
        justify-content: space-between;
}