.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.details {
  display: flex;
  border: 1px solid #ddd;
  padding: 20px;
}

.imageContainer {
  flex: 1;
}

.img {
  width: 100%;
  height: auto;
}

.infoContainer {
  flex: 1;
  padding-left: 20px;
}

.titleContainer h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.specsContainer h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.stock {
  font-size: 16px;
}

.descriptionContainer {
  margin-top: 20px;
}

.descriptionTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.descriptionText {
  font-size: 16px;
}

.loading {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
}

.error {
  text-align: center;
  margin-top: 50px;
  /* Estilo específico para errores si es necesario */
  font-size: 24px;
}