.filter {

       height: 1150px;
       box-shadow: 2px 2px 6px #ccc;
       margin: 20px;
       display: flex;
       flex-direction: column;
       padding-left: 5px;
       padding-right: 5px;
       border: 1px solid #7971EA;
       max-height: 110vh;
       max-width: 35vh;
}
.filter > * {
    margin-bottom: 10px;
}

.filter h2  {
    color: #666;
    font-family: sans-serif;
    text-align: center;
    padding-top: 15px;
}

.tittle {
    list-style-type: none;
    font-size: 25px;
    margin-top: 5px;
    color: #666;
    font-family: sans-serif;
    text-align: center;
}

.search{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 10px, 10px, 10px;
  
}
.button {
    background-color: transparent;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    border-color: #7971EA;
    margin-top: 10px; /* Ajusta según tus preferencias */
    margin-bottom: 20px; /* Ajusta según tus preferencias */
    cursor: pointer;
    color: #666;
}