.card {
    width: 350px;
    height: 450px;
    box-shadow: 2px 2px 4px #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    justify-content: space-between;
}

.card_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit:cover;
}

.card h2 {
    color: #7971EA;
    font-size: 18px;
    white-space: wrap;
    width: 200px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

}

.card_price {
    color: #7971EA;
    font-size: 20px;
}

.card h3 {
    color: #8C92A0;
}

@media only screen and (max-width: 1024px) {
    .card {
        width: 100%;
    }
}

.corazon {
    width: 60px !important;
    height: 60px !important;
    margin-left: 300px;
  }