

.searchBar {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
   
  }
  
  .searchBar input{
    width: 35vw;
    height: 30px;
    border: none;
    box-shadow: 1px 1px 2px #6c6b6b;
    font-size: 16px;
    padding-left: 50px;
    outline: none;
    border-radius: 6px;
  }
  
  .searchBar img {
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 9px;
    filter: brightness(0) saturate(100%) invert(90%) sepia(8%) saturate(29%) hue-rotate(323deg) brightness(95%) contrast(82%);
  }
  