.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #7c7a7a; 
  right: 0%;
  left: 0%;
  top: 0;
}

.leftSection {
  margin-left: 1%; 
}

.centerContent {
  flex: 1; 
  display: flex;
  align-items: center;
}

.searchBar {
  width: 70%; 
  padding: 8px;
  margin-left: 15%;
}

.icon {
  width: 30px; 
  height: 30px;
  cursor: pointer;
}

.homelogo {
  border-radius: 5px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.iconLupa {
  width: 30px; 
  height: 30px;
  cursor: pointer;
  margin-right: 15%;
}

.rightSection {
  display: flex;
  gap: 10px;
  margin-right: 1%;
}

.Button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

.Button:hover {
  background-color: #ccc;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .centerContent {
    width: 100%;
    margin-bottom: 10px;
  }

  .searchBar {
    width: 100%;
    margin-left: 0;
  }

  .iconLupa {
    margin-right: 0;
  }

  .rightSection {
    flex-direction: column;
    align-items: flex-start;
  }
}