.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  background-color: #7971EA99;
}

.firstNavbar {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(7477%) hue-rotate(37deg) brightness(97%) contrast(118%);
}

.navbar_user {
  margin-right: 20px;
  display: flex;
  gap: 10px;
}

.navbar_user img {
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(9%) hue-rotate(186deg) brightness(97%) contrast(87%);
  cursor: pointer;
}

.navbar_user img:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(7477%) hue-rotate(37deg) brightness(97%) contrast(118%);
}

.secondNavbar {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.location {
  font-size: .7vw;
  font-family: sans-serif;
  border-bottom: 3px solid transparent;
}

.location a {
  text-decoration: none;
  color: #fff;
  font-size: 9px;
}

.location_active {
  border-bottom: 3px solid #eee;
}

.location_active a {
  text-decoration: none;
  color: #7971EA;
  font-size: 9px;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 10px;
  }

  .firstNavbar {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .navbar_user {
    margin-right: 0;
    margin-top: 15px;
    justify-content: center;
    margin-bottom: 15px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .navbar_user img {
    width: 25px;
    height: 25px;
  }

  .secondNavbar {
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    gap: 10px;
  }

  .location {
    font-size: 10px;
    margin-top: 5px;
    width: 100%;
    text-align: center;
  }
}