.footer {
  padding: 30px;
  background-color: rgba(121, 113, 234, 0.5);
  right: 0%;
  left: 0%;
  bottom: 0;
  margin-top: 50px ;
}

.socialIcons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-right: 2%;
}

.copyrightText {
  font-size: 10px;
  text-align: center;
  color: #fff;
}



.githubIcon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.separator {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  margin: 5px 0;
  margin-bottom: 20px;
}

.columnContainer {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  text-align: center;
}

.clickableText {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }

  .socialIcons {
    
    justify-content: center;
    margin-bottom: 10px;
  }

  .githubIcon {
    margin-left: 5px;
  }

  .separator {
    margin: 10px 0;
  }

  .columnContainer {
    flex-direction: column;
  }

  .column {
    text-align: left;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 5px;
  }

  .socialIcons {
    flex-direction: column;
    align-items: center;
  }

  .githubIcon {
    margin-left: 0; 
    margin-top: 5px; 
    order: 2;
  }

  .columnContainer {
    flex-direction: column;
    text-align: center; 
  }

  .column {
    margin-bottom: 10px; 
  }
}
