.carousel-container {
  position: relative;
  width: 100%;
  height: 35vh;
  overflow: hidden;
  z-index: 1;
}

.carousel-image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; 
}


.prev-button, .next-button {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  color: #ffff;
  font-size: 22px;
  cursor: pointer;
  z-index: 1;
  height: auto;
  width: 40px;
  opacity: 0.5;
}

.catalogo-button {
  position: relative;
  top: 80%;
  transform: translateY(-50%);
  background: #7c7a7a;
  color: rgb(255, 255, 255);
  font-size: 22px;
  cursor: pointer;
  z-index: 1;
  height: 5ch;
  width: 12ch;
  margin-left: 80%;
}

.prev-button:hover, .next-button:hover {
  background-color: gray;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}

.prev-button {
  left: 0; 
}

.next-button {
  right: 0; 
}