.carousel-container {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; 
}


.prev-button, .next-button {
  position: absolute;
  top: 0;
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  z-index: 1; 
}

.prev-button:hover, .next-button:hover {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}

.prev-button {
  left: 0; 
}

.next-button {
  right: 0; 
}