.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .formContainer {
    width: 20%;
    height: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .label {
    margin-top: 5%;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20%;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  .google{
    display: flex;
   margin-top: 8%;
    flex-direction: row;
    justify-content: center;
   
    flex-wrap: wrap;
  
  }